/* @import url('https://fonts.googleapis.com/css?family=Prompt&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  /* padding: 20px; */
  font-family: 'Mulish', sans-serif;
  font-weight: bolder;
  /* background-color: white; */
  color: #363737;
  position: relative;
  text-align: center;
  scroll-behavior: smooth;
  cursor: crosshair;
  text-decoration: none;
}

/* Spinner */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(23, 22, 22);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  transition: opacity 0.3s linear;
  opacity: 1;
  transform: opacity 1s linear;
  opacity: 0;
  -webkit-animation: fadeout 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 4s; /* Firefox < 16 */
  -ms-animation: fadeout 4s; /* Internet Explorer */
  -o-animation: fadeout 4s; /* Opera < 12.1 */
  animation: fadeout 4s;
  pointer-events: none;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* align-items: center; */
  /* grid-template-columns: 50% 50%; */
  /* grid-template-rows: repeat(2, 450px); */
  /* grid-gap: 10px; */
  /* background-color: #e39d62; */
  color: #444;
}

.box {
  display: flex;
  justify-content: center;
  background-color: #e39d62;
  color: #fff;
  /* border-radius: 5px; */
  /* padding: 3px; */
  font-size: 150%;
}

.a {
  padding-top: 30%;
}

.b {
  padding-top: 20%;
  background-color: #fff;
  background-size: 100%;
  color: #363737 !important;
}
.b,
a {
  color: #363737 !important;
}
.b:hover {
  color: #363737 !important;
}

/* Media Queries */

@media (max-width: 400px) {
}

.c,
.d {
  padding-top: 20;
  background-color: #fff;
  color: #363737;
}

#circle {
  width: 30%;
  height: 30%;
  background: #e39d62;
  border-radius: 50%;
  margin: auto;
}

/* text / icon */

h1 {
  font-size: 2.5em;
}
/*

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
} */
/* h5 {
  font-size: 12px;
  /* font-weight: bold; 

 p {
  font-size: 1.25rem;
}

/* nav */

/* a {
  text-decoration: none !important;
  color: #e39d62;
  cursor: crosshair;
  font-weight: lighter;
}
a:hover {
  text-decoration: none !important;
  color: #363737;
  font-weight: bolder !important;
}
.navbar-custom {
  color: #e39d62 !important;
  background-color: #035d97 !important;
  text-decoration: none;
}
button.navbar-toggler {
  text-decoration: none !important;
  background-color: white;
}
button.navbar-toggler:active {
  text-decoration: none !important;
  background-color: white;
}
.nav-toggler,
button {
  color: #363737 !important;
  font-weight: bolder;
  border: 0;
  height: 1px;
  width: 0px;
  background: #333; */
/* background-image: linear-gradient(to right, #e39d62, #e39d62, #e39d62);
  cursor: crosshair !important;
  text-decoration: none !important;
}

/* Home Page 

.header {
  display: inline-block;
  background-color: white !important;
  /* background-attachment: fixed; 
  text-decoration: none;
  height: 100%;
  padding-top: 10em;
}

.welcome {
  background-color: #035d97;
} */
/* hr.welcome {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: #035d97 solid 4px;
  text-align: center;
  padding-bottom: 2em;
} 

.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/* Portfolio & Synopsis */
#portfolio {
  font-size: 34px;
  font-weight: bold;
}

.portfolio,
.synopsis {
  padding-top: 3rem;
  padding-bottom: 3em;
  margin: 1em;
  border: solid;
  border-color: #b57957;
  color: #363737;
}
.headline {
  padding-top: 1em;
  font: 3em;
}
.portfolio-row {
  padding-bottom: 5em;
  line-height: 300%;
}
.portfolio-text {
  text-align: center;
  display: inline-block;
  top: 75px;
  right: 15%;
  left: 0;
  width: 100%;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}
/* .portfolio-text:hover {
  font-size: 3rem;
} */
/* .portfolio-img.insights:hover {
  font-size: 3rem;
  font-weight: bolder;
} */
.box {
  border: white solid 1px;
  margin: 2px;
}

hr.portfolios {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 175px;
  border: 0;
  border-top: #363737 solid 1.5px;
  text-align: center;
  padding-bottom: 2em;
}

/* .portfolio-img.insights:hover {
  box-shadow: 20 20 20px 15px RGB(227, 157, 98);
} */

.portfolio-img.insights,
.insights {
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 100%; */
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e39d62;
  margin: auto;
  opacity: 0.5;
  position: relative;
}

.portfolio-img.insights:hover {
  opacity: 0.3;
  cursor: pointer;
}
/*
a.btn {
  font-size: 0.5em;
  color: white;
}
a.btn:hover {
  color: white;
  font-size: 0.9em;
  font-weight: bolder;
  cursor: crosshair !important;
}

a.cta {
  text-decoration: none !important;
  color: #363737 !important;
}
a.cta:hover,
a.cta-mobile:hover {
  font-weight: 800;
  font-style: italic;
  /* font-size: 1.5rem; 
  color: lightslategray !important;
  text-decoration: none !important;
  padding: 0em;
  border-radius: 5px;
  cursor: crosshair !important;
}

/* Contact */
/* .contact-container-holder {
  color: #363737;
  background: white;
  background-attachment: relative;
  cursor: crosshair;
} */

#contact {
  font-size: 34px;
  font-weight: bold;
}

.contact-container {
  border: solid;
  background-color: #ffffff;
  border-color: #e39d62;
  /* padding: 0.5em; */
}
/* 
.contact-img {
  position: absolute;
} */
.contact-img:hover {
  cursor: pointer;
}
hr.star-contact {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 3px;
  text-align: center;
}
/* .contact-img-desc {
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  color: #363737;
  text-align: center;
  padding: 5px;
  cursor: crosshair;
} */
i.contact {
  cursor: pointer;
}

/* About */

#about {
  font-size: 34px;
  font-weight: bolder;
}
/*
.about-container-holder {
  top: 0px;
  bottom: 0px;
  color: white;
  background: #363737;
  background-attachment: relative;
  background-size: cover;
  padding: 12em;
  margin: 12em;
  margin-top: 2em;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
  height: 70em;
}
.about-card {
  font-weight: normal;
}
*/

.about-card {
  line-height: 200%;
  padding: 1em;
}

h4 {
  text-align: center;
}
.about-img {
  width: 250px;
  height: auto;
}

@media (max-width: 800px) {
  .about-card {
    font-size: 25px;
  }
  header {
    font-size: 0.75em;
  }
}

@media (min-width: 1000px) {
  .about-card {
    padding: 3em;
  }
  .bi {
    padding: 3em;
  }
}

/*
hr.star-about {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 150px;
  border: 0;
  border-top: solid 3px;
  text-align: center;
}
i {
  color: #363737;
}

.footer {
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  color: #363737;
}
*/
.back-to-top {
  background-color: transparent;
  color: #363737;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0%;
  -webkit-text-stroke: thick white;
}

a.back-to-top {
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}

.back-to-top:hover,
.back-to-top:focus,
.back-to-top:visited {
  color: #ffffff;
}

.back-to-top.show {
  opacity: 1;
}

/* Media Queries 

@media (max-width: 400px) {
  .header {
    font-size: small;
  }
}

/* @media (max-width: 359px) {
  .split {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .centered {
    position: relative;
    top: 20px;
    left: 0;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .right {
    color: ivory;
    background: #363737;
    right: 50;
    padding: 1;
    height: 100vh;
    position: static;
    padding-top: 13em;
    overflow-x: visible;
    text-align: center;
    justify-content: center;
  }
  .header {
    color: #363737;
    background: ivory;
    left: 50;
    padding: 1em;
    height: 100vh;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 2em;
  }
  h5 {
    font-size: 1.3em;
  }
  p {
    font-size: 1.15rem;
  }
  .portfolio {
    padding: 1em;
    margin: 1em;
  }
  .headline {
    font-size: 2em;
  }
  img {
    height: 375px;
    width: 275px;
  }
  .about-img {
    height: 200px;
    width: 200px;
  }
  .contact-container-holder,
  .about-container-holder {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 3em;
    text-align: center;
    background-size: cover;
    margin: 0;
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  .split {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .centered {
    position: relative;
    top: 28px;
    left: 0;
    transform: translate(0%, 0%);
    text-align: center;
  }
  .right {
    color: ivory;
    background: #363737;
    right: 50;
    padding: 1;
    height: 100vh;
    position: static;
    padding-top: 17em;
    overflow-x: visible;
    text-align: center;
  }
  .header {
    color: #363737;
    background: ivory;
    left: 50;
    padding: 1em;
    height: 90vh;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 2.5em;
  }
  h5 {
    font-size: 1.3em;
  }
  p {
    font-size: 1.15rem;
  }
  .portfolio {
    padding: 1em;
    margin: 1em;
  }
  .headline {
    font-size: 2em;
  }
  img {
    height: 375px;
    width: 275px;
  }
  .portfolio-container-holder,
  .contact-container-holder,
  .about-container-holder {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 3em;
    text-align: center;
    background-size: cover;
    margin: 0;
  }
  .p {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 1350px) {
  .header {
    color: #363737;
    background: ivory;
    left: 0;
    padding: 2em;
    height: 100vh;
    font-size: 0.75em;
  }
  .right {
    color: ivory;
    background: #363737;
    right: 0;
    padding: 1;
    height: 90vh;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
  }
  .portfolio {
    padding: 1em;
    margin: 1em;
  }
  .headline {
    padding-top: 4em;
    font-size: 2em;
  }
  img {
    height: 400px;
    width: 275px;
  }
  .portfolio-container-holder,
  .contact-container-holder,
  .about-container-holder {
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 4em;
    text-align: center;
    background-size: cover;
    margin: 0;
    font-size: 0.75em;
  }
} */
/* @media screen and (min-width: 1030px) and (max-width: 1350px) {
  .header {
    color: #363737;
    background: ivory;
    left: 0;
    padding: 2em;
    height: 100vh;
    font-size: 0.75em;
  }
  .right {
    color: ivory;
    background: #363737;
    right: 0;
    padding: 1;
    height: 100vh;
    width: 50%;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
  }
  .portfolio {
    padding: 1em;
    margin: 1em;
  }
  .headline {
    padding-top: 4em;
    font-size: 2em;
  }
  img {
    height: 400px;
    width: 275px;
  }
  .contact-container-holder,
  .about-container-holder {
    padding: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 4em;
    text-align: center;
    background-size: cover;
    margin: 0;
    font-size: 0.75em;
  }
}

.footer {
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: ivory;
  color: #363737;
}

.back-to-top {
  background-color: transparent;
  color: #363737;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 0%;
  -webkit-text-stroke: thick ivory;
}

a.back-to-top {
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  padding-left: 2px;
  padding-top: 14px;
}

.back-to-top:hover,
.back-to-top:focus,
.back-to-top:visited {
  color: #ffffff;
}

.back-to-top.show {
  opacity: 1;
} */
